<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-3 text-white animated slideInLeft">Menüler</h1>
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" src="img/hero.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1>Menüler</h1>
    <form asp-action="SiparisVer" method="post">
        <div class="row">
            @foreach (var menu in Model.Menus)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img class="card-img-top" src="~/images/@menu.PictureName" alt="@menu.Name">
                        <div class="card-body">
                            <h5 class="card-title">@menu.Name</h5>
                            <p class="card-text">@menu.Description</p>

                            <p class="card-text">
                                Fiyat: <span id="PriceDisplay_@menu.Id">@menu.BasePrice</span> TL
                            </p>

                            <label for="Size_@menu.Id">Boyut:</label>
                            <select id="Size_@menu.Id" name="Size_@menu.Id" class="form-control" onchange="updatePrice(@menu.Id, @menu.BasePrice)">
                                <option value="Küçük" data-price="0">Küçük</option>
                                <option value="Orta" data-price="25">Orta</option>
                                <option value="Büyük" data-price="50">Büyük</option>
                            </select>

                            <label for="Quantity_@menu.Id">Adet:</label>
                            <input type="number" id="Quantity_@menu.Id" name="Quantity_@menu.Id" class="form-control" min="1" value="1" onchange="updatePrice(@menu.Id, @menu.BasePrice)">

                            <div>
                                <label>Ekstra Malzemeler:</label>
                                @foreach (var topping in Model.ExtraToppings)
                                {
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="Toppings_@menu.Id" value="@topping.Id" onchange="updatePrice(@menu.Id, @menu.BasePrice)">
                                        <label class="form-check-label">@topping.Name (@topping.Price TL)</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <button type="submit" class="btn btn-primary">Sipariş Ver</button>
    </form>
</div>

<script>
    function updatePrice(menuId, basePrice) {
        var sizeSelect = document.getElementById("Size_" + menuId);
        var quantityInput = document.getElementById("Quantity_" + menuId);
        var priceDisplay = document.getElementById("PriceDisplay_" + menuId);

        var sizePrice = parseInt(sizeSelect.options[sizeSelect.selectedIndex].getAttribute("data-price"));
        var quantity = parseInt(quantityInput.value);

        var toppingPrice = 0;
        var toppingCheckboxes = document.querySelectorAll('input[name="Toppings_' + menuId + '"]:checked');
        toppingCheckboxes.forEach(function (checkbox) {
            toppingPrice += parseInt(checkbox.nextElementSibling.innerText.match(/\d+/)[0]);
        });

        var totalPrice = (basePrice + sizePrice + toppingPrice) * quantity;
        priceDisplay.innerText = totalPrice;
    }
</script>



@await Html.PartialAsync("_Menu")
