@using MVCHamburgerApp.Data.Entities
@model CheckoutViewModel
@{
    var extraToppings = TempData.Get<List<ExtraTopping>>("ExtraToppings");
}

<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-3 text-white animated slideInLeft">Sipariş Özeti</h1>
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" src="img/hero.png" alt="">
            </div>
        </div>
    </div>
</div>

<div>
    <h3>Müşteri Bilgileri</h3>
    <p>Adı: @Model.CustomerName</p>
</div>
<div>
    <h3>Sipariş Detayları</h3>
    <ul>
        @if (Model != null && Model.Order != null)
        {
            <ul>
                @foreach (var item in Model.Order.OrderItems.Where(oi => oi.Quantity > 0))
                {
                    <li>
                        @item.MenuName (x@item.Quantity) - @item.ItemPrice TL
                        @if (item.SelectedToppingIds != null && item.SelectedToppingIds.Any())
                        {
                            <ul>
                                @foreach (var toppingId in item.SelectedToppingIds)
                                {
                                    var topping = extraToppings.FirstOrDefault(t => t.Id == toppingId);
                                    if (topping != null)
                                    {
                                        <li>+ @topping.Name (@topping.Price TL)</li>
                                    }
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
            <p>Toplam Tutar: @Model.Order.TotalPrice TL</p>
        }
        else
        {
            <p>Sipariş bilgisi bulunamadı.</p>
        }
    </ul>
</div>

<button type="submit">Siparişi Onayla</button>
